@model TrashCollector.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_CustomersLayout.cshtml";
}

<h1>Welcome!</h1>

<h4>User Action Page</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.SuspendStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.SuspendEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Customer.Balance)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Customer.PickUpDay)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Customer.SuspendStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Customer.SuspendEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.State)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address.ZipCode)
                </td>
            </tr>
        }
    </tbody>
</table>
<hr/>
<h5>Edit Info</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Balance" class="control-label"></label>
                <input asp-for="Customer.Balance" class="form-control" />
                <span asp-validation-for="Customer.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PickUpDay" class="control-label"></label>
                <select asp-for="Customer.PickUpDay" class="form-control">
                    <option value="">Select Day</option>
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select>
                <span asp-validation-for="Customer.PickUpDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.SuspendStart" class="control-label"></label>
                <input asp-for="Customer.SuspendStart" class="form-control" />
                <span asp-validation-for="Customer.SuspendStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.SuspendEnd" class="control-label"></label>
                <input asp-for="Customer.SuspendEnd" class="form-control" />
                <span asp-validation-for="Customer.SuspendEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetName" class="control-label"></label>
                <input asp-for="Address.StreetName" class="form-control" />
                <span asp-validation-for="Address.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
@*<h5>Update Schedule</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpDay" class="control-label"></label>
                <select asp-for="PickUpDay" class="form-control"></select>
                <span asp-validation-for="PickUpDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendStart" class="control-label"></label>
                <input asp-for="SuspendStart" class="form-control" />
                <span asp-validation-for="SuspendStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendEnd" class="control-label"></label>
                <input asp-for="SuspendEnd" class="form-control" />
                <span asp-validation-for="SuspendEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
