@model TrashCollector.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_CustomersLayout.cshtml";
}

<h1>Welcome @Model.Customer.FirstName!</h1>


<hr />

<div class="container">
    
    <div class="row">
        
        <div class="col-6">
            <h5>User information</h5>
            <table style="width:100%" class="table table-dark table-sm">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.FirstName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.FirstName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.LastName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.LastName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Balance)
                    </th>
                    <td>
                        $@Html.DisplayFor(model => model.Customer.Balance).00
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.IsSuspended)
                    </th>

                    @if (Model.Customer.IsSuspended == false)
                    {
                        <td><span class="badge badge-pill badge-success">Active</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-pill badge-danger">Suspended</span></td>
                    }

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.PickUpDay)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.PickUpDay)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.OneTimePickUp)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.OneTimePickUp)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.SuspendStart)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.SuspendStart)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.SuspendEnd)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.SuspendEnd)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.StreetName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address.StreetName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.City)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address.City)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.State)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address.State)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.ZipCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address.ZipCode)
                    </td>
                    <th></th>
                </tr>
            </table>
        </div>

        <div class="col-6">
            <h5>Edit Info</h5>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form">
                    <div class="form-group">
                        <input type="hidden" asp-for="Customer.Id" />
                        <input type="hidden" asp-for="Customer.FirstName" />
                        <input type="hidden" asp-for="Customer.LastName" />
                        <input type="hidden" asp-for="Customer.Balance" />
                        <input type="hidden" asp-for="Customer.LastPickedUp" />
                        <input type="hidden" asp-for="Customer.AddressId" />
                        <input type="hidden" asp-for="Customer.UserId" />
                        <input type="hidden" asp-for="Address.Id" />
                    </div>
                    <table style="width:100%" class="table table-dark table-sm">
                        <tr>
                            <th><label asp-for="Customer.PickUpDay" class="control-label"></label></th>
                            <td>
                                <select asp-for="Customer.PickUpDay" class="form-control">
                                    <option value="">Select Day</option>

                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>

                                </select>
                                <span asp-validation-for="Customer.PickUpDay" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Customer.OneTimePickUp" class="control-label"></label></th>
                            <td>
                                <input asp-for="Customer.OneTimePickUp" class="form-control" />
                                <span asp-validation-for="Customer.OneTimePickUp" class="text-danger"></span>
                            </td>
                        </tr>



                        <tr>
                            <th><label asp-for="Address.StreetName" class="control-label"></label></th>
                            <td>
                                <input asp-for="Address.StreetName" class="form-control" />
                                <span asp-validation-for="Address.StreetName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Address.City" class="control-label"></label></th>
                            <td>
                                <input asp-for="Address.City" class="form-control" />
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Address.State" class="control-label"></label></th>
                            <td>
                                <input asp-for="Address.State" class="form-control" />
                                <span asp-validation-for="Address.State" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Address.ZipCode" class="control-label"></label></th>
                            <td>
                                <input asp-for="Address.ZipCode" class="form-control" />
                                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Customer.SuspendStart" class="control-label"></label></th>
                            <td>
                                <input asp-for="Customer.SuspendStart" class="form-control" />
                                <span asp-validation-for="Customer.SuspendStart" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label asp-for="Customer.SuspendEnd" class="control-label"></label></th>
                            <td>
                                <input asp-for="Customer.SuspendEnd" class="form-control" />
                                <span asp-validation-for="Customer.SuspendEnd" class="text-danger"></span>
                            </td>
                        </tr>

                    </table>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
            </form>

        </div>

    </div>

</div>

           
      



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
