@model TrashCollector.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>Welcome @Model.Employee.FirstName!</h1>


<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <table style="width:100%" class="table table-dark table-sm">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.FirstName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Employee.FirstName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.LastName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Employee.LastName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.ZipCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Employee.ZipCode)
                    </td>
                </tr>
                <tr>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
